[Desktop Entry]
Type=Application
Name=Install Legend of Dragoon: Definitive
Comment=Guided Steam Deck setup
Icon=applications-games
Terminal=false
Exec=/bin/bash -c "set -e; d=\\$(mktemp -d); trap 'rm -rf \\"\\$d\\"' EXIT; curl --fail --location --proto '=https' --proto-redir '=https' --output \\"\\$d/install.sh\\" 'https://github.com/gideonidoru/legend-of-dragoon-definitive/releases/download/definitive-alpha-2026-10-09/Install-Definitive.sh'; echo '70589c62d2f9b7d876653fbf774c6554c6ce04f6f542dd91ecdfe9541d5d343a  ' \\"\\$d/install.sh\\" | sha256sum --check --status; /bin/bash \\"\\$d/install.sh\\";"
Categories=Game;
